/* Find.state.gov styles */

body { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.navbar-default {
  background-color: #205493;
  border-color: #aeb0b5;
  box-shadow:5px 5px 5px black;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #212121;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #212121;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #212121;
  background-color: #aeb0b5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #212121;
  background-color: #aeb0b5;
}
.navbar-default .navbar-toggle {
  border-color: #aeb0b5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #aeb0b5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #212121;
}
.pull-right {
  float: right;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #212121;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #212121;
    background-color: #aeb0b5;
  }
}
  
.data-story-container {
  width: 100%;
  background-color: rgba(40,40,40, .9);
  margin-top: 20%;
}
.data-story-head {
  color: white;
  text-align: center;
}
.data-story-set {
  width: 100%; 
}
.data-story-box {
  background-color: none; 
  margin-bottom: 2%;
  height: 220px;
}
.data-story-box div:hover {
  opacity: .5;
}
.data-story {
  background-color: #ffffff; 
  border: 3px solid #205493;
  box-shadow:3px 3px 3px black;
  height: 100%;
  cursor: pointer;
}
.data-story-title {
  color: #981b1e;
  text-align: center;
}
.data-story-text {
  text-align: center;
  color: black;
}



